:root {
}
/* Grid  */
.row {
  display: flex;
}

.row.no-after:after {
  content: none;
}

[class*="col-"] {
  clear: left;
  margin: 1rem;
}

/* Section Latest news ============================= */
.section-latest-news .row {
  flex-direction: row-reverse;
}
/* Section SERVICES ============================= */
.section-services .row {
  flex-wrap: wrap;
}
/*** 4. CARD ***/
.col-1-3 {
  width: calc((100% / 3) - 2rem);
}

.col-1-2 {
  width: calc((100% / 2) - 2rem);
}

ul.row {
  margin: -1rem;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
}
