@for $h from 1 through 5 {
    @if $h == 1{
        h#{$h}{
        font-size: 1px;
        }
    }
    @else if $h == 2{
        h#{$h}{
        font-size: 2px;
        }
    }
    @else if $h == 3{
        h#{$h}{
        font-size: 3px;
        }
    }
    @else if $h == 4{
        h#{$h}{
        font-size: 4px;
        }
    }
    @else if $h == 5{
        h#{$h}{
        font-size: 5px;
        }
    }
}